<header class="ui-header">
  <div class="ui-header__row">
    <button class="ui-button ui-button--icon ui-drawer--handle" (click)="__global.drawer.open(__global.drawer)">
      <i class="material-icons">menu</i>
    </button>
    <span class="ui-header__title">Server</span>
    <span class="ui-spacer"></span>
    <a href="#!/server-add" class="ui-button ui-button--icon">
      <i class="material-icons">add</i>
    </a>
  </div>
</header>

<div class="ui-list">
  <template is="xin-repeat" items="[[servers]]" as="server">
    <a class="ui-list__item" href="[[computeServerUrl(server.id)]]">[[server.name]]</a>
  </template>
</div>
