<header class="ui-header">
  <div class="ui-header__row">
    <a class="ui-button ui-button--icon ui-drawer--handle" href="javascript:history.back()">
      <i class="material-icons">arrow_back</i>
    </a>
    <span class="ui-header__title">Server</span>
    <span class="ui-spacer"></span>
    <a class="ui-button ui-button--icon" class.hidden="[[parameters.id | not]]" (click)="deleteClicked(evt)">
      <i class="material-icons">delete</i>
    </a
  </div>
</header>

<form class="ui-form" (submit)="submitted(evt)">
  <ui-textfield label="Name" type="text" value="{{server.name}}"></ui-textfield>
  <ui-textfield label="Username" type="text" value="{{server.username}}"></ui-textfield>
  <ui-textfield label="Hostname" type="text" value="{{server.hostname}}"></ui-textfield>
  <ui-textfield label="Port" type="number" value="{{server.port}}"></ui-textfield>

  <button class="ui-button ui-button--colored ui-button--block">Save</button>
</form>
