<jwt-middleware id="jwt" whitelist='["/login", "/test"]' (signout)='navigate("/login")' token="{{jwtToken}}"></jwt-middleware>
<lazy-view-middleware></lazy-view-middleware>

<connect-pool id="pool" ref="{{pool}}" base-url="/api" ping-url="/ping" headers="[[headers]]"></connect-pool>

<ui-drawer id="drawer">
  <div class="ui-list">
    <a class="ui-list__item" href="#!/">Tunnel</a>
    <a class="ui-list__item" href="#!/server">Server</a>
    <a class="ui-list__item" (click)='logoutClicked(evt)'>Logout</a>
  </div>
</ui-drawer>

<main class="ui-main layout flex">
  <xin-pager class="flex">
    <st-login lazy-view uri="/login"></st-login>
    <st-tunnels lazy-view uri="/"></st-tunnels>
    <st-servers lazy-view uri="/server"></st-servers>

    <st-tunnel lazy-view uri="/tunnel-add"></st-tunnel>
    <st-tunnel lazy-view uri="/tunnel/{id}"></st-tunnel>

    <st-server lazy-view uri="/server-add"></st-server>
    <st-server lazy-view uri="/server/{id}"></st-server>
  </xin-pager>
</main>
